

form{
    background-color: white;
    width: 700px;
    border-radius: 20px;
    padding: 40px 20px;
}

form .form-grp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
form fieldset{
    /* border: 1px solid black; */
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}
form fieldset legend{
    color: black;
}

.form-grp .label-wrap{
    display: flex;
}
.form-grp .label-wrap sup{
    color: red;
    font-size: 18px;
}

form .form-grp label{
    color: black;
}
/* form .form-grp input{
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    color: black;
    width: 90%;
} */

input{
    width: 100%;
    border-radius: 6px;
    border: 1.5px solid #dee1ea;
    padding: 12px 20px;
    color: black;
}

input:focus{
    border-color: #506cff;
}
form .form-grp select{
    padding: 10px;
     background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    color: black;
}
.gender-form-grp .radio-grp{
    display: flex;
    align-items: center;
}
.gender-form-grp{
    flex-direction: row !important;
}
.gender-form-grp label{
    margin-right: 10px;
}
.error {
    color: red;
}
.LoginForm{
    width: 400px;
}