

form{
    background-color: white;
    width: 100%;
    border-radius: 1.25rem;
    padding: 2.5rem 1.25rem;
}

form .form-grp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}
form fieldset{
    /* border: 1px solid black; */
    text-align: left;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
}
form fieldset legend{
    color: black;
}

.form-grp .label-wrap{
    display: flex;
    margin-bottom: 0.625rem;
}
.form-grp .label-wrap sup{
    color: red;
    font-size: 1.125rem;
}

form .form-grp label{
    color: black;
}
/* form .form-grp input{
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    color: black;
    width: 90%;
} */

input{
    width: 100%;
    border-radius: 0.375rem;
    border: 1.5px solid #dee1ea;
    padding: 0.75rem 1.25rem;
    color: black;
}

input:focus{
    border-color: #506cff;
}
form .form-grp select{
    padding: 0.625rem;
     background-color: white;
    border: 1px solid grey;
    border-radius: 0.625rem;
    color: black;
}
.gender-form-grp .radio-grp{
    display: flex;
    align-items: center;
    margin-right: 0.9375rem;
}
.gender-form-grp .radio-grp input[type="radio"]{
    margin-right: 0.625rem;
}
.radio-wrap{
    display: flex;
}
.gender-form-grp label{
    margin-bottom: 0;
}
.error {
    color: red;
}


/* Responsive Design */
@media (max-width: 1024px) {
    /* Tablet styles */
    form {
        width: 100%;
        /* max-width: 43.75rem; */
        padding: 2rem 1rem;
    }
}

@media (max-width: 768px) {
    /* Mobile styles */
    form {
        width: 100%;
        padding: 1.5rem 0.75rem;
    }
    
    form .form-grp {
        margin-bottom: 1rem;
    }
    
    input, select {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
    
    .gender-form-grp .radio-grp {
        margin-right: 0.5rem;
    }
}