
.otp-popup{
   background-color: white;
   padding: 1.5rem;
   border-radius: 0.625rem;
   animation: popupFade 0.2s ease-in-out;
   position: relative;
}

@keyframes popupFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

h3{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
    color: #28152f;
}

input{
    width: 100%;
    border-radius: 0.375rem;
    border: 1.5008px solid #dee1ea;
    padding: 0.75rem 1.25rem;
}

input:focus{
    border-color: #506cff;
}
.countdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}
.countdown-text > p{
    font-size: 0.875rem;
    font-weight: 400;
    color: #2d1d35;
    margin-right: 5.125rem;
}
.countdown-text > p > span{
    font-weight: 700;
}

.countdown-text > .resend-otp-btn{
    background: white !important;
    border: none;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;

}
.submit-btn{
    text-transform: uppercase;
    width: 100%;
    border: none;
    color: white;
    border-radius: 0.5rem;
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 0.625rem;
    background: linear-gradient(91deg, #9076fc 0%, #6950ff 100%);
    transition: all ease .6s;
}

.submit-btn:hover{
    background: #e6e0ffbf;
    color: #6950ff;
}

/* Close (X) button */
.close-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background: transparent;
  border: none;
  font-size: 1.375rem;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  transition: 0.2s ease;
}

.close-btn:hover {
  color: #000;
  transform: scale(1.2);
}


.btn-grp{
    display: flex;
    justify-content: space-between;
    width: 18.75rem;
    margin: 0 auto;
}