p{
    color: black;
}
.preview-form-wrap {
    width: 100%;
    margin: 1.25rem auto;
    padding: 1.5625rem;
    background: #fff;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
    box-shadow: 0 0.1875rem 0.5rem rgba(0,0,0,0.1);
    font-family: "Segoe UI", sans-serif;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5625rem;
    font-weight: 600;
    color: #2c3e50;
}

.section {
    background: #fafafa;
    padding: 1.25rem;
    margin-bottom: 1.375rem;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
}

.section h4 {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    color: #34495e;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.375rem;
}

.row {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 40px;
}

.section p {
    margin: 0.375rem 0;
    line-height: 1.4;
    text-align: left;
}

/* .doc-block {
    margin-top: 0.9375rem;
} */

.user-photo {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border: 1px solid #ccc;
}

.user-sign {
    width: 100%;
    height: 3.125rem;
    border: 1px solid #ccc;
    background: #fff;
}
.personal-detail-wrap{
    display: flex;
}
.left-side {
    margin-right: 7.5rem;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
    .personal-detail-wrap{
        flex-direction: column;
    }
    .left-side{
        margin-right: 0;
    }
    .preview-form-wrap{
        padding: 0.625rem;
    }
    .doc-block iframe{
        width: 100%
    }
}